/* Potassium component styles */

/*** App ***/

:root {
	/* layout */
	--app-content-padding: 20px;
	--inner-element-padding: calc(var(--app-content-padding) / 2);

	/* text */
	--base-font: sans-serif;

	--base-font-size: 20px;
	--font-size-5: calc(var(--base-font-size) + 1.6em);
	--font-size-4: calc(var(--base-font-size) + 1.2em);
	--font-size-3: calc(var(--base-font-size) + 0.8em);
	--font-size-2: calc(var(--base-font-size) + 0.4em);
	--font-size-0: calc(var(--base-font-size) - 0.4em);

	--base-font-weight: 300;
	--font-weight-2: calc(var(--base-font-weight) + 200);

	/* named colors */
	--light-teal:	#00FFCC;
	--teal:			#00C4A8;
	--dark-teal:	#006666;

	--light-mustard:	#FFFF00;
	--mustard:			#F3B000;
	--dark-mustard:		#CC9900;

	--light-ketchup:	#FF0000;
	--ketchup:			#B30000;
	--dark-ketchup:		#990000;

	--light-kelp:	#005F00;
	--kelp:			#04322e;

	/* color scheme */
	--background-color: white;

	--light-primary-color:	var(--light-teal);
	--primary-color:		var(--teal);
	--dark-primary-color:	var(--dark-teal);

	--light-secondary-color:	var(--light-mustard);
	--secondary-color:			var(--mustard);
	--dark-secondary-color:		var(--dark-mustard);

	--light-alert-color:	var(--light-ketchup);
	--alert-color:			var(--ketchup);
	--dark-alert-color:		var(--dark-ketchup);

	--light-base-color:	var(--light-kelp);
	--base-color:		var(--kelp);

	/* break points (sadly, not usable in media queries) */
	--xs-breakpoint: 0px;		/*  xs is 000  -  575  */
	--sm-breakpoint: 576px;	/*  sm is 576  -  767  */
	--md-breakpoint: 768px;	/*  md is 768  -  991  */
	--lg-breakpoint: 992px;	/*  lg is 992  -  1199 */
	--xl-breakpoint: 1200px;	/*  xl is 1200 -  inf. */
}

body {
	font-family: var(--base-font);
	font-weight: var(--base-font-weight);
	color: var(--base-color);
	font-size: var(--base-font-size);
}

ul { padding-left: 0; }

li {
	list-style: none;
	margin-bottom: 0.5em;
}

h1, h2, h3, h4, h5 {
	font-weight: normal;
	line-height: 1em;
	padding: 0;
	margin: 0;
}

/** Set the font sizes relative to the base size */
h1 { font-size: var(--font-size-5); }
h2 { font-size: var(--font-size-4); }
h3 { font-size: var(--font-size-3); }
h4 { font-size: var(--font-size-2); }
h5 { font-size: var(--font-size-1); }

h1, h2 { font-weight: var(--font-weight-2); }

button {
	cursor: pointer;
	background-color: var(--primary-color);
	padding: 5px;
	border: solid 1px var(--dark-primary-color);
	border-radius: 0;
}

button:hover {
	background-color: var(--secondary-color);
}

button:active {
	background-color: var(--light-secondary-color);
}

button.selected {
	background-color: var(--light-secondary-color);
}

button.small {
	padding: 2px;
	font-size: var(--font-size-0);
	line-height: 1em;
	text-transform: uppercase;
}


/*** Component ***/

.component {
	display: inline-block;
	vertical-align: top;
}

.component.anchored {
	cursor: pointer;
}

.component.hidden {
	display: none;
}

/*********************
	Atoms
**********************/

/*** ButtonComponent ***/

/*** TextInputComponent ***/

.portal-root .text-input-component {
	width: 15em;
	padding: 10px;
	font-size: 2em;
}


/*********************
	Molecules
**********************/

/*** ModeSwitcherComponent ***/

/*** ButtonGroupComponent ***/

.button-group-component button {
	outline: 0;
	margin: 0 2px;
}
.button-group-component button:active {
	outline: 0;
}
.button-group-component button.selected {
	background-color: #EFEFEF;
}
.button-group-component button:first-child {
	border-left: solid 1px #DDD;
}

/*** CardComponent ***/

.card-component {
	background-color: var(--background-color);
}

.card-component .main,
.card-component .heading-component,
.card-component .label-component {
	padding-top: var(--inner-element-padding);
	padding-left: var(--inner-element-padding);
	padding-right: var(--inner-element-padding);
}

.card-component .main {
	text-align: center;
	width: calc(100% - (var(--inner-element-padding) * 2));
	padding-bottom: var(--inner-element-padding);
	background-color: var(--light-secondary-color);
	max-height: 75vw;
}

.card-component .heading-component,
.card-component .label-component {
	display: block;
	background-color: var(--secondary-color);
}

.card-component .heading-component {
	font-weight: var(--font-size-2);
}

.card-component .label-component {
	font-weight: var(--base-font-size);
	padding-bottom: var(--inner-element-padding);
	min-height: 2em;
}

/*** ImageCardComponent ***/

.image-card-component img {
	max-width: 100%;
	background-color: var(--background-color);
}

/*********************
	Organisms
**********************/

/*** MastheadComponent ***/

.masthead-component {
	display: block;
	position: relative;
}

.masthead-component .heading-component {
	display: block;
	padding: var(--app-content-padding);
	color: var(--light-secondary-color);
	background-color: var(--primary-color);
}

.masthead-component .menu-component {
	display: block;
	padding: var(--app-content-padding) 0;
}

.masthead-component .menu-component > .component {
	margin-left: var(--app-content-padding);
	padding-bottom: 5px;
}

.masthead-component .menu-component > .component.selected {
	border-bottom: solid 5px var(--light-secondary-color);
}

.masthead-component .mode-switcher-component {
	display: none;
	text-align: right;
	margin: 3px var(--app-content-padding) var(--app-content-padding) 0;
}

@media (min-width: 576px){
	.masthead-component .menu-component {
		display: inline-block;
		vertical-align: top;
		position: absolute;
		top: 45px;
		right: var(--app-content-padding);
		transform: translate(0, -50%);
	}

	.masthead-component .mode-switcher-component {
		display: inherit;
	}
}

/*** MediaGridComponent ***/

.media-grid-component {
}

.media-grid-component > .collection-component {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.media-grid-component > .collection-component > .collection-item {
	width: 100%;
	margin: 0 0 var(--app-content-padding) 0;
}

.media-grid-component > .collection-component > .collection-item .main {
	min-height: 180px;
}

.media-grid-component > .collection-component > .image-card-component img {
	max-height: 180px;
}

@media (min-width: 576px){
	.media-grid-component {
		margin-left: calc(-0.5 * var(--app-content-padding));
		width: calc(100% + var(--app-content-padding)); /** account for item margin */
	}
	.media-grid-component > .collection-component > .collection-item {
		width: calc(50% - var(--inner-element-padding));
		margin: calc(var(--inner-element-padding) / 2);
	}
}

@media (min-width: 768px){
	.media-grid-component > .collection-component > .collection-item {
		width: calc(33% - var(--inner-element-padding));
	}
}

@media (min-width: 992px){
	.media-grid-component > .collection-component > .collection-item {
		width: calc(25% - var(--inner-element-padding));
	}
}

